.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(2px);

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.popup {
  padding: 2rem;
  width: 60vw;
  height: 60vh;
  background-color: #e1dbd1;
  border-radius: 2.8rem;
  cursor: default;
  color: black;
  z-index: 1;

  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
}

.desc-list {
  display: flex;
  padding-top: 2rem;
}

.desc-list-left {
  list-style: none;
  font-size: 2rem;
  font-weight: 600;
}

.desc-list-right {
  padding-left: 5rem;
  list-style: none;
  font-size: 2rem;
}

.close-btn {
  height: 2.5rem;
  width: 2.6rem;
  cursor: pointer;
}
.desc {
  font-size: 1.7rem;
  padding-bottom: 1rem;
}

/* .name-time:before {
  content: "• ";
} */

.name-time {
  font-size: 1.5rem;
  padding: 1rem 0 3rem 5rem;
}

.desc-list-left li,
.desc-list-right li {
  padding: 0.5rem 0;
}
